<nav class="navbar navbar-expand-lg navbar-light shadow-sm custom-nav">
  <div class="container d-flex align-items-center">
    <a href="/blogs" class="brand-logo">Blogify</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link <% if (typeof active === 'string' && active === 'home') { %>active<% } %>"
            aria-current="page"
            href="/"
            >Home</a
          >
        </li>
        <li class="nav-item"></li>
        <li class="nav-item">
          <a
            class="nav-link <% if (typeof active === 'string' && active === 'new') { %>active<% } %>"
            href="/blogs/new"
            >New blog</a
          >
        </li>
      </ul>

      <div class="d-flex">
        <% if (typeof currentUser !== 'undefined' && currentUser) { %>
        <a class="btn btn-outline-primary me-2" href="/user/profile">Profile</a>
        <form action="/user/logout" method="POST" class="d-inline">
          <button class="btn btn-primary" type="submit">Logout</button>
        </form>
        <% } else { %>
        <a class="btn btn-outline-primary me-2" href="/user/login">Login</a>
        <a class="btn btn-primary" href="/user/signup">Sign up</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>